In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
model = LinearRegression()
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("carprices.csv")
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [3]:
df.shape

(13, 4)

In [4]:
df.groupby("Car Model").mean()

                       Mileage  Sell Price($)  Age(yrs)
Car Model
Audi A5                68500.0        23175.0      6.00
BMW X5                 45900.0        29920.0      4.00
Mercedez Benz C class  72000.0        24000.0      6.25

In [5]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

In [6]:
# Assuming your DataFrame is named df
dummies = dummies.astype(int)
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [7]:
merged = pd.concat([df,dummies],axis='columns') 
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

In [8]:
merged.describe()

,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,60884.615385,26023.076923,5.307692,0.307692,0.384615,0.307692
std,19185.665055,8003.661021,1.652504,0.480384,0.506370,0.480384
min,22500.000000,12000.000000,2.000000,0.000000,0.000000,0.000000
25%,52000.000000,20000.000000,5.000000,0.000000,0.000000,0.000000
50%,59000.000000,26100.000000,5.000000,0.000000,0.000000,0.000000
75%,72000.000000,32000.000000,6.000000,1.000000,1.000000,1.000000
max,91000.000000,40000.000000,8.000000,1.000000,1.000000,1.000000

In [9]:
final = merged.drop(['Car Model'], axis='columns')
final

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000          18000         6        0       1                      0
1     35000          34000         3        0       1                      0
2     57000          26100         5        0       1                      0
3     22500          40000         2        0       1                      0
4     46000          31500         4        0       1                      0
5     59000          29400         5        1       0                      0
6     52000          32000         5        1       0                      0
7     72000          19300         6        1       0                      0
8     91000          12000         8        1       0                      0
9     67000          22000         6        0       0                      1
10    83000          20000         7        0       0                      1
11    79000          21000         7        0       0                      1
12    59000          33000         5        0       0                      1

In [10]:
final = final.drop(['Mercedez Benz C class'], axis='columns')
final

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6        0       1
1     35000          34000         3        0       1
2     57000          26100         5        0       1
3     22500          40000         2        0       1
4     46000          31500         4        0       1
5     59000          29400         5        1       0
6     52000          32000         5        1       0
7     72000          19300         6        1       0
8     91000          12000         8        1       0
9     67000          22000         6        0       0
10    83000          20000         7        0       0
11    79000          21000         7        0       0
12    59000          33000         5        0       0

In [11]:
X = final.drop('Sell Price($)', axis='columns')
X

    Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6        0       1
1     35000         3        0       1
2     57000         5        0       1
3     22500         2        0       1
4     46000         4        0       1
5     59000         5        1       0
6     52000         5        1       0
7     72000         6        1       0
8     91000         8        1       0
9     67000         6        0       0
10    83000         7        0       0
11    79000         7        0       0
12    59000         5        0       0

In [12]:
y  = final[['Sell Price($)']]

y

    Sell Price($)
0           18000
1           34000
2           26100
3           40000
4           31500
5           29400
6           32000
7           19300
8           12000
9           22000
10          20000
11          21000
12          33000

In [13]:
model.fit(X,y)

LinearRegression()

In [14]:
model.predict(X)

array([[18705.2723644 ],
       [35286.78445645],
       [24479.19112468],
       [41245.76426391],
       [29882.98779056],
       [28023.6135243 ],
       [30614.46818502],
       [21879.57266964],
       [12182.34562104],
       [26183.72387884],
       [18929.31674102],
       [20409.80511857],
       [30477.15426156]])

In [15]:
model.score(X,y)

0.9417050937281083